<!DOCTYPE html>
<html lang="en" ng-app="webSchool">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title %></title>

    <!-- Style Sheets -->
    <link rel="stylesheet" href="css//lib/bootstrap.css">
    <link rel="stylesheet" href="css//lib/buttons.css">
    <link rel="stylesheet" href="css/webSchool.css">
    <link rel="stylesheet" href="css/algo.css">
    <!-- JavaScript -->
    <script src="js/lib/jquery-1.10.2.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/webSchool.js"></script>
    <script src="js/factory.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>

<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                <a class="navbar-brand marginZero logoTopAlign" href="#/" ><img src="/images/logo.png"><span class="fontWhite">eb School</span></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right marginZero">
                    <li>
                        <a href="#/article">Web Technolog Article's</a>
                    </li>
                    <li>
                        <a href="#/ds">Data Dtructure  Algorithm's</a>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown">Other<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/contact">Contact Us</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>

    </nav>
</header>

        <div ng-view="">

        </div>





</body>

</html>

