.BoxBorder{
    background-color: rgba(255,255,255,0.7);
    border: solid 2px #231f20;
    border-radius: 0px 20px 0px 20px;
    padding: 5px;
}
.Code{
    padding: 5px 0px 5px 30%;
}
.marginTop{
    margin-top: 10px;
}
ul{
    display: inline-block;
    text-align: center;
}
ul li{
    list-style: none;
    font-size: medium;
    text-align: center;

}
.DemoColor{
    color: #c7254e;

}
.DemoTextAlign{
    margin-left: 20%;
}
.CodeBoxHeight{
    height: 250px;
    overflow: scroll;
    border-radius: 0px;
}
.CodeBoxHeight::-webkit-scrollbar {
    width: 12px;
}
.CodeBoxHeight::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.7);
}
.CodeBoxHeight::-webkit-scrollbar-thumb {
    background-color: #494143;
}
.CodeBoxHeight::-webkit-scrollbar-thumb:hover {
    background-color: #231f20;
}
/*====================*/
  /*Bubble Sort CSS*/
/*====================*/
.AlgoLable{
    font-weight: bold;
}
/*====================*/
 /*Linear Search CSS*/
/*====================*/
.searchStatus,.factorialResult{
    margin-left: 35%;
    color: #c7254e;
    font-weight: bold;
}
/*====================*/
/*Fibonacci Sequence CSS*/
/*====================*/
.fibonacciSequenceHeight{
    height: 150px;
}
/*====================*/
  /*Linked List CSS*/
/*====================*/
.marginTop10{
    margin-top: 10px;
}
.marginLeft10P{
    margin-left: 17%;
    padding: 5px 30px;
    width: 20%;

}