/*====================*/
    /*General CSS*/
/*====================*/
.marginZero{
    margin: 0;
    padding: 0;
}
.fontWhite{
    color: #ffffff;
}
.TestBorder{
    border: solid thick #000000;
}
/*====================*/
    /*Nav Bar CSS*/
/*====================*/
.logoTopAlign{
    margin-top: 5px;
}
.navbar{
    background-color: #231f20;
    border-color: #231f20;
    position: relative;
}
.navbar a{
    color: #ffffff;
    text-decoration: none;
}
.navbar a:hover{
    text-decoration: solid;
}
/*====================*/
     /*Home CSS*/
/*====================*/
body{
    background-color: #e6e7e8;
    font-family: Georgia;
}
.FiveText{
    color: #231f20;
    text-align: center;
    font-weight: 600;
    padding-top: 5px;
}
.goToArticleBtn{
height: 160px;
}
.learnWebTechnologiesBtn{
   margin-top: 60px;
   width: 100%;
}
.learnDataStructureBtn{
    margin-top: 10px;
    width: 100%;
}
.button-border{
    color: #231f20;
    border-color: #231f20;
}
.paddingOne{
   padding: 1px;
}

.webTechnologiesBg{
    background-color: #231f20;
}
.webTechnologiesImg{
    max-width: 100%;
    border-left: 1px;
    border-right: 1px;
    border-color: #3a3839;
    border-style: solid;
}
/*====================*/
    /*Search CSS*/
/*====================*/
ul li{
    list-style: none;
}
.searchDiv{


    padding-top: 20px;
    padding-left: 25%;
    height: 70px;
    border-radius:10px;
    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);

}
.searchInput{
    width: 70%;
}
.itemDiv{
    margin-top: 15px;
    border-radius:10px;
    padding: 20px;
    height: 188px;
    overflow: hidden;

    box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);

    -webkit-transition: height 0.5s ease-out;
    -moz-transition: height 0.5s ease-out;
    -o-transition: height 0.5s ease-out;
    transition: height 0.5s ease-out;
}
.itemDiv:hover{
    height: 400px;
    overflow: auto;
}

.articleTopic{
    text-align: center;
}
.articleImg{
    border-radius: 10px;
    float: left;
}
.bottomBorder{
    border-color: #b7babb;
    border-style: dotted;
    border-bottom: thin;
}
/*====================*/
    /*Contact CSS*/
/*====================*/
.contactBody{
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 600px;
}
.FormDiv{
    background-color: rgba(255,255,255,0.3);
    margin-top: 50px;
    height: 75%;
    border: solid  #231f20;
    border-radius: 30px;
    overflow: hidden;
}
@media (max-width: 1200px) {
    .FormDiv{
        margin-left: 5%;
        margin-right: 5%;
    }
}
form label{
    float: none;
    margin-left: 10%;
    margin-top: 10px;
    color: #231f20 !important;

    display: block;
    font-size:large;
}
.inputAlign{
    margin-left: 10% !important;
    width: 80%;
    -webkit-transition: width 1s ease;
    -moz-transition: width 1s ease;
    -o-transition: width 1s ease;
    -ms-transition: width 1s ease;
    transition: width 1s ease;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #DDDDDD;
}
.inputAlign:focus, .inputAlign:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(81, 203, 238, 1);
    width: 90%;
}
.buttonAlign{
    margin-left: 10%;
    position: relative;
}
/*====================*/
   /*DS Home Page CSS*/
/*====================*/
.dsHome{


}
.JavaScriptDef{
    background-color: rgba(255,255,255,0.7);
    border: solid 2px #231f20;
    border-radius: 20px 0px 20px 0px;
    padding: 5px;
}
.dataStructureDef{
    margin-top: 10px;
    background-color: rgba(255,255,255,0.7);
    border: solid 2px #231f20;
    border-radius: 20px 0px 20px 0px;
    padding: 5px;
}
.dataStructureExamples{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255,0.7);
    border: solid 2px #231f20;
    /*border-radius: 20px 0px 20px 0px;*/
    padding: 5px;
    /*height: 200px;*/
}
.dsExampleLab{
    text-align: center;
    background-color: #231f20;
    color: #e6e7e8;
    font-weight: bold;
    border-radius: 5px;
    height: 30px;
    padding: 5px;
}
.dsExampleBtn{
    margin:10px 10% ;
    width: 80%;
    padding: 0px 50px 0px 50px;
}

