<section class="col-lg-offset-2 col-lg-8">
    <div class="BoxBorder">
        <h4 class="AlgoLable">Binary Search :</h4>
        <p>n computer science, linear search or sequential search is a method for finding a particular value in a list, that consists of checking every one of its elements, one at a time and in sequence, until the desired one is found.</p>
    </div>
    <div class="BoxBorder marginTop CodeBoxHeight">
        <h4 class="AlgoLable">Binary Search Code :</h4>
        <div class="Code">
            <code >
                function binarySearchFunction(){
                <br/>
                var lowPosition = 0;
                <br/>
                var highPosition = randomString.length - 1;
                <br/>
                while (highPosition >= lowPosition)
                {
                <br/>
                var position = lowPosition + ((highPosition - lowPosition) / 2);
                <br/>
                if (randomString[position] < searchName)
                {
                <br/>
                lowPosition = position + 1;
                }
                <br/>
                else if (randomString[position] > searchName)
                {
                <br/>
                highPosition = position - 1;
                }
                else
                {
                <br/>
                $scope.searchStatus = "Found At "+position+" Index";
                <br/>
                InFound = false;
                }
                }
                }
            </code>
        </div>
    </div>
    <div class="BoxBorder marginTop" ng-controller="binarySearchController">

        <h4 class="AlgoLable">Binary Search Demo :</h4>
        <div class="">
            <h5>Fruit Names :</h5>
            <ul ng-repeat="x in stringPrint track by $index" class="DemoColor">
                <li>{{x}}</li>
            </ul>
            <div class="col-lg-offset-2 col-lg-8 input-group">
                <input type="text" class="form-control" placeholder="Plz Enter Name to Search" ng-model="searchName">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="binarySearchFunction()">Search</button>
                    </span>
            </div>

            <h5>Search Status : <span class="searchStatus">{{searchStatus}}</span></h5>

        </div>

    </div>
</section>