<section class="col-lg-offset-2 col-lg-8">
    <div class="BoxBorder">
        <h4 class="AlgoLable">Bubble Sort :</h4>
        <p>Bubble sort, sometimes incorrectly referred to as sinking sort, is a simple sorting algorithm that works by repeatedly stepping through the list to be sorted, comparing each pair of adjacent items and swapping them if they are in the wrong order. The pass through the list is repeated until no swaps are needed, which indicates that the list is sorted.</p>
    </div>
    <div class="BoxBorder marginTop CodeBoxHeight">
        <h4 class="AlgoLable">Bubble Sort Code :</h4>
        <div class="Code">
            <code >
                function BubbleSort(arr){
                <br/>
                for(var i=0; i < arr.length; i++){
                <br/>
                for(var j = 0; j < arr.length; j++){
                <br/>
                if (arr[i] < arr[j]){
                <br/>
                var temp = arr[i];
                <br/>
                arr[i] = arr[j];
                <br/>
                arr[j] = temp;
                <br/>
                }
                }
                }
                <br/>
                return arr;
                }
            </code>
        </div>
    </div>
    <div class="BoxBorder marginTop" ng-controller="bubbleSortController">

        <h4 class="AlgoLable">Bubble Sort Demo :</h4>
        <div class="DemoTextAlign">
            <h5>UnSorted Array:</h5>
            <ul ng-repeat="x in Unsorted track by $index" class="DemoColor">
                <li>{{x}}</li>
            </ul>

            <h5>Sorted Array:</h5>
            <ul ng-repeat="x in Sorted track by $index" class="DemoColor">
                <li>{{x}}</li>
            </ul>
        </div>

    </div>
</section>