<section class="col-lg-offset-2 col-lg-8">
    <div class="BoxBorder">
        <h4 class="AlgoLable">Fibonacci Sequence :</h4>
        <p>The Fibonacci sequence is a set of numbers that starts with a one or a zero, followed by a one, and proceeds based on the rule that each number (called a Fibonacci number) is equal to the sum of the preceding two numbers. If the Fibonacci sequence is denoted F ( n ), where n is the first term in the sequence, the following equation obtains for n = 0, where the first two terms are defined as 0 and 1 by convention.</p>
    </div>
    <div class="BoxBorder marginTop CodeBoxHeight">
        <h4 class="AlgoLable">Fibonacci Sequence Code :</h4>
        <div class="Code">
            <code >
                var a=0, b=1, c, i;
                <br/>
                var arr = [];
                <br/>
                for (i = 1; i <= fibonacciSequenceInput; i++)
                {
                <br/>
                c = a + b;
                <br/>
                a = b;
                <br/>
                b = c;
                <br/>
                arr.push(c);
                <br/>
                }
            </code>
        </div>
    </div>
    <div class="BoxBorder marginTop fibonacciSequenceHeight" ng-controller="fibonacciSequenceController">

        <h4 class="AlgoLable">Fibonacci Sequence Demo :</h4>

        <div class="col-lg-offset-2 col-lg-8 input-group">
            <input type="number" min="5" max="17" class="form-control" placeholder="Plz Enter Fibonacci Sequence Limit ... ( 5 to 17 )" ng-model="fibonacciSequenceInput">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="fibonacciSequenceFunction()">Get Fibonacci Sequence</button>
                    </span>
        </div>

        <h4>Fibonacci Sequence :
        <ul ng-repeat="x in fibonacciSequence" class="DemoColor">
                {{x}}
        </ul>
        </h4>

    </div>
</section>