<section class="col-lg-offset-2 col-lg-8">
    <div class="BoxBorder">
        <h4 class="AlgoLable">Insertion Sort :</h4>
        <p>Insertion sort is an elementary sorting algorithm that sorts one element at a time. Most humans, when sorting a deck of cards, will use a strategy similar to insertion sort. The algorithm takes an element from the list and places it in the correct location in the list. This process is repeated until there are no more unsorted items in the list.</p>
    </div>
    <div class="BoxBorder marginTop CodeBoxHeight">
        <h4 class="AlgoLable">Insertion Sort Code :</h4>
        <div class="Code">
            <code >
                function InsertionSort(arr){
                <br/>
                for(var i=1;i < arr.length;i++){
                <br/>
                var key = arr[i];
                <br/>
                var j = i-1;
                <br/>
                while(j >= 0 && arr[j] > key){
                <br/>
                arr[j + 1] = arr[j];
                <br/>
                j--;
                <br/>
                }
                arr[j + 1] = key;
                <br/>
                }
                return arr;
                <br/>
                }
            </code>
        </div>
    </div>
    <div class="BoxBorder marginTop" ng-controller="insertionSortController">

        <h4 class="AlgoLable">Insertion Sort Demo :</h4>
        <div class="DemoTextAlign">
            <h5>UnSorted Array:</h5>
            <ul ng-repeat="x in Unsorted track by $index" class="DemoColor">
                <li>{{x}}</li>
            </ul>

            <h5>Sorted Array:</h5>
            <ul ng-repeat="x in Sorted track by $index" class="DemoColor">
                <li>{{x}}</li>
            </ul>
        </div>

    </div>
</section>