<section class="col-lg-offset-2 col-lg-8">
    <div class="BoxBorder">
        <h4 class="AlgoLable">Linear Search :</h4>
        <p>n computer science, linear search or sequential search is a method for finding a particular value in a list, that consists of checking every one of its elements, one at a time and in sequence, until the desired one is found.</p>
    </div>
    <div class="BoxBorder marginTop CodeBoxHeight">
        <h4 class="AlgoLable">Linear Search Code :</h4>
        <div class="Code">
            <code >
                function linearSearchFunction(){
                <br/>
                var InFound = true;
                <br/>
                for(var i=0;i < randomString.length; i++){
                <br/>
                if(randomString[i] == $scope.searchName){
                <br/>
                searchStatus = "Found At "+i+" Index";
                <br/>
                InFound = false;
                }
                }
                if(InFound){
                <br/>
                $scope.searchStatus = "Not Found";
                <br/>
                }
                }
            </code>
        </div>
    </div>
    <div class="BoxBorder marginTop" ng-controller="linearSearchController">

        <h4 class="AlgoLable">Linear Search Demo :</h4>
        <div class="">
            <h5>Fruit Names :</h5>
            <ul ng-repeat="x in stringPrint track by $index" class="DemoColor">
                <li>{{x}}</li>
            </ul>
            <div class="col-lg-offset-2 col-lg-8 input-group">
                <input type="text" class="form-control" placeholder="Plz Enter Name to Search" ng-model="searchName">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="linearSearchFunction()">Search</button>
                    </span>
            </div>

            <h5>Search Status : <span class="searchStatus">{{searchStatus}}</span></h5>

        </div>

    </div>
</section>