<section class="col-lg-offset-2 col-lg-8">
    <div class="BoxBorder">
        <h4 class="AlgoLable">Linked List :</h4>
        <p>A method of organizing stored data in a computers memory or on a storage medium based on the logical order of the data and not the physical order. All stored data records are assigned a physical address in memory that the computer uses to locate the information. A linked list arranges the data by logic rather than by physical address.</p>
    </div>
    <div class="BoxBorder marginTop CodeBoxHeight">
        <h4 class="AlgoLable">Linked List Code :</h4>
        <div class="Code">
            <code >
                var LinkedList = function(){
                <br/>
                var that = {}, first, last;
                <br/>
                that.push = function(value){
                <br/>
                var node = new Node(value);
                <br/>
                if(first == null){
                <br/>
                first = last = node;
                <br/>
                }else{
                <br/>
                last.next = node;
                v
                last = node;
                <br/>
                }
                };
                <br/>
                that.pop = function(){
                <br/>
                var value = first;
                <br/>
                first = first.next;
                <br/>
                return value;
                <br/>
                };
                <br/>
                that.remove = function(index) {
                <br/>
                var i = 0;
                <br/>
                var current = first, previous;
                <br/>
                if(index === 0){
                <br/>
                first = current.next;
                <br/>
                }else{
                <br/>
                while(i++ < index){
                <br/>
                previous = current;
                <br/>
                current = current.next
                <br/>
                }
                <br/>
                previous.next = current.next;
                }
                <br/>
                return current.value;
                <br/>
                };
                <br/>
                };
                return that;
                };
            </code>
        </div>
    </div>
    <div class="BoxBorder marginTop" ng-controller="linkedListController">

        <h4 class="AlgoLable">Linked List Demo :</h4>
        <div class="">


            <div class="col-lg-offset-2 col-lg-8 input-group">

                <input type="text" class="form-control" placeholder="Add Element" ng-model="addElement">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="pushElementFunction()">Push</button>
                    </span>
            </div>

            <div class="col-lg-offset-2 col-lg-8 input-group marginTop10">
                <input type="number" min="0" class="form-control" placeholder="Element Position to Remove" ng-model="removeName">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="removeElementFunction()">Remove</button>
                    </span>
            </div>

            <button type="button" class="btn btn-default marginLeft10P marginTop10" ng-click="popElementFunction()">POP</button>
            <ul class="DemoColor">
            <li>{{element}}</li>
            </ul>

        </div>

    </div>
</section>