<section class="col-lg-offset-2 col-lg-8">
    <div class="BoxBorder">
        <h4 class="AlgoLable">Queue :</h4>
        <p>A queue is a particular kind of collection in which the entities in the collection are kept in order and the principal (or only) operations on the collection are the addition of entities to the rear terminal position and removal of entities from the front terminal position. This makes the queue a First-In-First-Out (FIFO) data structure.</p>
    </div>
    <div class="BoxBorder marginTop CodeBoxHeight">
        <h4 class="AlgoLable">Queue Code :</h4>
        <div class="Code">
            <code >
                function Queue() {
                <br/>
                this.dataStore = [];
                <br/>
                this.enqueue = enqueue;
                <br/>
                this.dequeue = dequeue;
                <br/>
                this.front = front;
                <br/>
                this.back = back;
                <br/>
                this.toString = toString;
                <br/>
                this.empty = empty;
                <br/>
                }
                function enqueue(element) {
                <br/>
                this.dataStore.push(element);
                <br/>
                }
                function dequeue() {
                <br/>
                return this.dataStore.shift();
                <br/>
                }
                function front() {
                <br/>
                return this.dataStore[0];
                <br/>
                }
                function back() {
                <br/>
                return this.dataStore[this.dataStore.length-1];
                <br/>
                }
                function toString() {
                <br/>
                var retStr = "";
                <br/>
                for (var i = 0; i < this.dataStore.length; ++i) {
                <br/>
                retStr += this.dataStore[i] + "\n";
                <br/>
                }
                return retStr;
                <br/>
                }
                function empty() {
                <br/>
                if (this.dataStore.length == 0) {
                <br/>
                return true;
                <br/>
                }
                else {
                <br/>
                return false;
                <br/>
                }
                }

            </code>
        </div>
    </div>
    <div class="BoxBorder marginTop" ng-controller="queueController">

        <h4 class="AlgoLable">Queue Demo :</h4>
        <div class="">
            <div class="col-lg-offset-2 col-lg-8 input-group">
                <input type="text" class="form-control" placeholder="Enqueue Element" ng-model="enqueueElement">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="EnqueueFunction()">Enqueue</button>
                    </span>
            </div>
            <button type="button" class="btn btn-default marginLeft10P marginTop10" ng-click="Front()">Front</button>
            <button type="button" class="btn btn-default marginLeft10P marginTop10" ng-click="Back()">Back</button>
            <button type="button" class="btn btn-default marginLeft10P marginTop10" ng-click="DequeueFunction()">Dequeue</button>
            <button type="button" class="btn btn-default marginLeft10P marginTop10" ng-click="Empty()">Clear</button>
            <ul class="DemoColor">
                <li>{{element}}</li>
            </ul>

        </div>

    </div>
</section>