<section class="col-lg-offset-2 col-lg-8">
    <div class="BoxBorder">
        <h4 class="AlgoLable">Quick Sort :</h4>
        <p>Quicksort, or partition-exchange sort, is a sorting algorithm developed by Tony Hoare that, on average, makes O comparisons to sort n items. In the worst case, it makes O comparisons, though this behavior is rare. Quick Sort is often faster in practice than other O algorithms.</p>
    </div>
    <div class="BoxBorder marginTop CodeBoxHeight">
        <h4 class="AlgoLable">Quick Sort Code :</h4>
        <div class="Code">
            <code>
                function  QuickSort(arr, left, right){
                <br/>
                var i = left;
                <br/>
                var j = right;
                <br/>
                var tmp;
                <br/>
                var pivotidx = (left + right) / 2;
                <br/>
                var pivot = parseInt(arr[pivotidx.toFixed()]);
                <br/>
                while (i <= j) {
                <br/>
                while (parseInt(arr[i]) < pivot)
                <br/>
                i++;
                <br/>
                while (parseInt(arr[j]) > pivot)
                <br/>
                j--;
                <br/>
                if (i <= j) {
                <br/>
                tmp = arr[i];
                <br/>
                arr[i] = arr[j];
                <br/>
                arr[j] = tmp;
                <br/>
                i++;
                <br/>
                j--;
                }
                }
                <br/>
                if (left < j)
                <br/>
                QuickSort(arr, left, j);
                <br/>
                if (i < right)
                <br/>
                QuickSort(arr, i, right);
                <br/>
                return arr;
                }
            </code>
        </div>
    </div>
    <div class="BoxBorder marginTop" ng-controller="quickSortController">

        <h4 class="AlgoLable">Quick Sort Demo :</h4>
        <div class="DemoTextAlign">
            <h5>UnSorted Array:</h5>
            <ul ng-repeat="x in Unsorted track by $index" class="DemoColor">
                <li>{{x}}</li>
            </ul>

            <h5>Sorted Array:</h5>
            <ul ng-repeat="x in Sorted track by $index" class="DemoColor">
                <li>{{x}}</li>
            </ul>
        </div>

    </div>
</section>