<section class="col-lg-offset-2 col-lg-8">
    <div class="BoxBorder">
        <h4 class="AlgoLable">Recursion :</h4>
        <p>Recursion in computer science is a method where the solution to a problem depends on solutions to smaller instances of the same problem (as opposed to iteration).The approach can be applied to many types of problems, and recursion is one of the central ideas of computer science.</p>
    </div>
    <div class="BoxBorder marginTop CodeBoxHeight">
        <h4 class="AlgoLable">Factorial With Recursion Code :</h4>
        <div class="Code">
            <code >
                function Factorial(input){
                <br/>
                if (input == 0)
                <br/>
                {
                <br/>
                return 1;
                <br/>
                }
                <br/>
                return input * Factorial(input - 1);
                <br/>
                }
            </code>
        </div>
    </div>
    <div class="BoxBorder marginTop fibonacciSequenceHeight" ng-controller="recursionController">

        <h4 class="AlgoLable">Factorial With Recursion Demo :</h4>

        <div class="col-lg-offset-2 col-lg-8 input-group">
            <input type="number" class="form-control" min="3" placeholder="Plz Enter Number Greater than 2 ..." ng-model="getFactorialInput">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="getFactorialFunction()">Get Factorial</button>
                    </span>
        </div>
        <h4>Factorial :
            <span class="factorialResult">{{Factorial}}</span>
        </h4>

    </div>
</section>