<section class="col-lg-offset-2 col-lg-8">
    <div class="BoxBorder">
        <h4 class="AlgoLable">Selection Sort :</h4>
        <p>In computer science, selection sort is a sorting algorithm, specifically an in-place comparison sort. It has O(n2) time complexity, making it inefficient on large lists, and generally performs worse than the similar insertion sort. Selection sort is noted for its simplicity, and it has performance advantages over more complicated algorithms in certain situations, particularly where auxiliary memory is limited.</p>
    </div>
    <div class="BoxBorder marginTop CodeBoxHeight">
        <h4 class="AlgoLable">Selection Sort Code :</h4>
        <div class="Code">
            <code >
                function SelectionSort(arr){
                <br/>
                var i, j, min, temp;
                <br/>
                for (i = 0; i < arr.length - 1; i++)

                {
                <br/>
                min = i;
                <br/>
                for (j = i + 1; j < arr.length; j++)
                {
                <br/>
                if (arr[j] < arr[min])
                {
                min = j;
                }
                }
                <br/>
                temp = arr[i];
                <br/>
                arr[i] = arr[min];
                <br/>
                arr[min] = temp;
                <br/>
                }
                return arr;
                }
            </code>
        </div>
    </div>
    <div class="BoxBorder marginTop" ng-controller="selectionSortController">

        <h4 class="AlgoLable">Selection Sort Demo :</h4>
        <div class="DemoTextAlign">
            <h5>UnSorted Array:</h5>
            <ul ng-repeat="x in Unsorted track by $index" class="DemoColor">
                <li>{{x}}</li>
            </ul>

            <h5>Sorted Array:</h5>
            <ul ng-repeat="x in Sorted track by $index" class="DemoColor">
                <li>{{x}}</li>
            </ul>
        </div>

    </div>
</section>