<section class="col-lg-offset-2 col-lg-8">
    <div class="BoxBorder">
        <h4 class="AlgoLable">Stack :</h4>
        <p>A stack is a type of data structure -- a means of storing information in a computer. When a new object is entered in a stack, it is placed on top of all the previously entered objects. In other words, the stack data structure is just like a stack of cards, papers, credit card mailings, or any other real-world objects you can think of. When removing an object from a stack, the one on top gets removed first. This method is referred to as LIFO (last in, first out).</p>
    </div>
    <div class="BoxBorder marginTop CodeBoxHeight">
        <h4 class="AlgoLable">Stack Code :</h4>
        <div class="Code">
            <code >
                function Stack() {
                <br/>
                this.dataStore = new Array(5);
                <br/>
                this.top = 0;
                <br/>
                this.push = push;
                <br/>
                this.pop = pop;
                <br/>
                this.peek = peek;
                <br/>
                this.clear = clear;
                <br/>
                this.length = length;
                <br/>
                }
                <br/>
                function push(element) {
                <br/>
                this.dataStore[this.top++] = element;
                <br/>
                }
                function peek() {
                <br/>
                return this.dataStore[this.top-1];
                <br/>
                }
                function pop() {
                <br/>
                return this.dataStore[--this.top];
                <br/>
                }
                function clear() {
                <br/>
                this.top = 0;
                <br/>
                }
                function length() {
                <br/>
                return this.top;
                <br/>
                }
            </code>
        </div>
    </div>
    <div class="BoxBorder marginTop" ng-controller="stackController">

        <h4 class="AlgoLable">Stack Demo :</h4>
        <div class="">
            <div class="col-lg-offset-2 col-lg-8 input-group">
                <input type="text" class="form-control" placeholder="Add Element" ng-model="pushElement">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="StackPush()">Push</button>
                    </span>
            </div>
            <button type="button" class="btn btn-default marginLeft10P marginTop10" ng-click="StackLength()">Length</button>
            <button type="button" class="btn btn-default marginLeft10P marginTop10" ng-click="StackPeek()">Peek</button>
            <button type="button" class="btn btn-default marginLeft10P marginTop10" ng-click="StackPop()">Pop</button>
            <button type="button" class="btn btn-default marginLeft10P marginTop10" ng-click="StackClear()">Clear</button>
            <ul class="DemoColor">
                <li>{{element}}</li>
            </ul>
        </div>

    </div>
</section>