<section class="col-lg-offset-2 col-lg-8 " ng-controller="articleController">
    <div class="col-lg-12 searchDiv">
        <input class="form-control searchInput"  type="search" ng-model="articleSearch" placeholder="Search Article ...">
    </div>
    <ul  ng-repeat="article in articles | filter:articleSearch" class="col-lg-12 articleSearch">
        <div class="itemDiv">
            <li><img src="{{article.subjectImg}}" class="articleImg"></li>
            <li><h1 class="articleTopic">{{article.topic}}</h1></li>
            <li><h4>Author : {{article.author}}</h4></li>
            <li>{{article.article}}</li>
        </div>

    </ul>
</section>
        