<section class="row contactBody">

    <div class="col-lg-offset-2 col-lg-8 FormDiv">
        <form>
            <label for="name">Name :</label>
            <input type="text" name="name" placeholder="Your Name ..." required id="name" class="inputAlign">
            <br/>
            <label for="email">E-Mail : </label>
            <input type="email" name="email" placeholder="E-Mail Address" required id="email" class="inputAlign">
            <br/>
            <label for="phone">Phone :</label>
            <input type="tel" name="phone" placeholder="Phone Number" id="phone" class="inputAlign">
            <br/>
            <label for="subject">Subject : </label>
            <input type="text" name="Subject" placeholder="Subject of Mail" required id="subject" class="inputAlign">
            <br/>
            <label for="Comment">Comments : </label>
            <textarea name="comments" placeholder="Your Questions & Remarks ..." id="Comment" class="inputAlign"></textarea>

            <span class="buttonAlign">
                <button class="btn  button-border">Submit</button>
                <button class="btn  button-border" onclick="reset()">Reset</button>
            </span>


        </form>
    </div>
</section>
