<section class="col-lg-offset-2 col-lg-8">
    <div class="JavaScriptDef">
        <h2>JavaScript :</h2>
        <p>
            JavaScript (JS) is a dynamic computer programming language.It is most commonly used as part of web browsers, whose implementations allow client-side scripts to interact with the user, control the browser, communicate asynchronously, and alter the document content that is displayed.It is also being used in server-side programming, game development and the creation of desktop and mobile applications.
        </p>
    </div>
    <div class="dataStructureDef">
        <h2>Data Structure :</h2>
        <p>
            Data structure is a particular way of storing and organizing data in a computer so that it can be used efficiently.

            Different kinds of data structures are suited to different kinds of applications, and some are highly specialized to specific tasks. For example, B-trees are particularly well-suited for implementation of databases, while compiler implementations usually use hash tables to look up identifiers.
        </p>
    </div>
    <div class="dataStructureExamples col-lg-12">
        <div class="col-lg-4">
           <div class="dsExampleLab">Sorting Algorithms</div>
            <a href="#/bubbleSort" class="btn  button-border dsExampleBtn" >Bubble Sort</a>
            <a href="#/insertionSort" class="btn  button-border dsExampleBtn" >Insertion Sort</a>
            <a href="#/selectionSort" class="btn  button-border dsExampleBtn" >Selection Sort</a>
            <a href="#/quickSort" class="btn  button-border dsExampleBtn" >Quick Sort</a>
        </div>
        <div class="col-lg-4">
            <div class="dsExampleLab">Searching Algorithms</div>
            <a href="#/linearSearch" class="btn  button-border dsExampleBtn" >Linear Search</a>
            <a href="#/binarySearch" class="btn  button-border dsExampleBtn" >Binary Search</a>
            <a href="#/fibonacciSequence " class="btn  button-border dsExampleBtn" >Fibonacci Sequence</a>
            <a href="#/recursion" class="btn  button-border dsExampleBtn" >Recursion</a>

        </div>
        <div class="col-lg-4">
            <div class="dsExampleLab">Other Data Structure's</div>
            <a href="#/linkedList" class="btn  button-border dsExampleBtn">Linked List</a>
            <a href="#/stack" class="btn  button-border dsExampleBtn">Stack</a>
            <a href="#/queue" class="btn  button-border dsExampleBtn">Queue</a>
            <a href="#/ds" class="btn  button-border dsExampleBtn" >Back</a>
        </div>
    </div>

</section>

