<section class="col-lg-12 marginZero">

    <div class="col-lg-offset-2 col-lg-8">
        <h1 class="FiveText">FIVE WEB TECHNOLOGIES ON THE RISE</h1>
    </div>
    <div class="col-lg-offset-5 col-lg-2 goToArticleBtn">
        <a href="#/article" class="btn  button-border learnWebTechnologiesBtn" >Learn Web Technologies</a>
        <a href="#/ds" class="btn  button-border learnDataStructureBtn" >Learn Data Structure</a>
        <a></a>
    </div>

    <div class="col-lg-12 paddingOne webTechnologiesBg" >
        <div class="col-lg-offset-2 col-lg-8">
            <img src="images/webTechnologies.png" class="webTechnologiesImg">
        </div>
    </div>

</section>
